@layer components {
  .cta-button {
    @apply inline-block px-4 py-1 uppercase text-sm tracking-wider font-bold border rounded-2xl border-gray-300 transition-all duration-300 ease-in-out;

    &:hover {
      @apply rounded-md;
    }
  }
}
