@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600;700&family=Sarabun:wght@400;700&display=swap');
@import "tailwindcss";
@import "highlight.js/styles/stackoverflow-light.css";
@import "./utilities.css";

@theme {
  --font-ibm-plex: "IBM Plex Sans Thai", sans-serif;
  --font-sarabun: "Sarabun", sans-serif;
  --color-baltic-blue: #05668d;
  --color-steel-blue: #427aa1;
  --color-alice-blue: #ebf2fa;
  --color-sage-green: #679436;
  --color-lime-moss: #a5be00;
}

@layer base {
  body {
    @apply font-sarabun text-xl leading-[1.6];
  }

  code {
    @apply font-mono border rounded p-1 border-gray-300 bg-gray-100;
  }

  a {
    @apply text-steel-blue transition-colors duration-300 ease-in-out;

    &:hover {
      @apply text-baltic-blue no-underline;
    }
  }

  .wp-block-code code {
    @apply block mb-3 p-3;
  }
}

@layer component {
  .main {
    @apply mt-8 lg:mt-12;
  }
}

@layer utilities {
  .aligncenter {
    @apply text-center;

    img {
      @apply mx-auto;
    }
  }
}
