---
import App from "../layouts/App.astro";

const { DB } = Astro.locals.runtime.env;

console.log( Astro.locals.runtime )

const statement = DB.prepare(`SELECT * FROM web_posts ORDER BY datetime DESC`);
const posts = await statement.run();
---

<App>
  <div class="container mx-auto">
    { posts.map( (post) => (
			<h1>{post.title}</h1>
      <div>{post.excerpt}</div>
    )) }
  </div>
</App>
