---
import App from "../layouts/App.astro";
import BlogItem from "../components/BlogItem.astro";
import Pagination from "../components/Pagination.astro";
import { POSTS_PER_PAGE, CMS_URL } from '../consts';
import postIndex from "../data/postIndex";

const totalPosts = postIndex.results.length;
const totalPages = Math.ceil( totalPosts/POSTS_PER_PAGE );

const res = await fetch(`${CMS_URL}/wp-json/wp/v2/posts?page=1&per_page=${POSTS_PER_PAGE}&_embed`);
const posts = await res.json();
---

<App>
  <div class="container mx-auto">
    { posts.map( (post) => (
			<BlogItem postData={post} />
    )) }
    <Pagination currentPage="1" baseUrl="/page" totalPages={totalPages}/>
  </div>
</App>
