<style>
  @reference "../styles/app.css";

  .content-area {
    p {
      @apply mb-2 lg:mb-4
    }

    h1 {
      @apply heading-1;
    }

    h2 {
      @apply heading-2;
    }

    h3 {
      @apply heading-3;
    }

    h4 {
      @apply heading-4;
    }

    h5 {
      @apply heading-5;
    }

    h6 {
      @apply heading-6;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ul, ol {
      @apply ml-7 mb-2 lg:mb-4;
    }

    li {
      @apply pl-2;
    }

    .wp-block-image {
      @apply my-6 lg:my-10;
    }

    .wp-block-gallery {
      .blocks-gallery-grid {
        @apply grid list-none gap-4 ml-0 w-full;
      }

      &.columns-1 {
        @apply columns-auto;

        .blocks-gallery-grid {
          @apply grid-cols-1;
        }
      }

      &.columns-2 {
        @apply columns-auto;

        .blocks-gallery-grid {
          @apply grid-cols-2;
        }
      }

      &.columns-3 {
        @apply columns-auto;

        .blocks-gallery-grid {
          @apply grid-cols-3;
        }
      }

      &.columns-4 {
        @apply columns-auto;

        .blocks-gallery-grid {
          @apply grid-cols-4;
        }
      }
    }
  }
</style>
<div class="content-area">
  <slot/>
</div>
