---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---
<style>
  @reference "../styles/app.css";

  a {
    @apply inline-block no-underline relative px-0 py-5 mx-2;

    &::before {
      @apply content-[''] absolute border-b border-white bottom-4.5 right-0 w-0 transition-all duration-150;
    }

    &:hover {
      &::before {
        @apply w-full;
      }
    }
  }
</style>

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
