---
import { SITE_TITLE } from '../consts';
import HeaderLink from '@component/HeaderLink.astro';
import Button from '@component/Button.astro';
---
<style>
  @reference "../styles/app.css";

  header {
    @apply m-0 px-8 py-0;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-name {
    @apply font-bebas bg-white text-black text-4xl leading-9 ;

    a:link {
      @apply px-1 no-underline;
    }
  }

  .contact-cta {
    @apply ml-5;
  }
</style>

<header>
  <nav>
    <h2 class="site-name"><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <Button url="/contact" background="transparent" color="dark" class="contact-cta">Contact</Button>
    </div>
  </nav>
</header>
